<!doctype html>
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<head>
<style>
body {background-color: powderblue;}
p   {color: blue;}
p1    {color: red;}
</style>
</head>
<p1>Wrong username or password</p1>
<form action="/login" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log in">
</form>
<p><a href="{{ url_for('reg') }}">Sign up</a>
{% endif %}
{% endblock %}