<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index of {{current_dir}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Index of {{current_dir}}</h1>
    <ul>
        {% if files|length > 0 %}
            {% for file in files %}
                <li><button type="submit" onclick="window.open('/{{file}}')">{{file}}</button></li>
            {% endfor %}
        {% else %}
            <p>Files folder is empty</p>
        {% endif %}
    </ul>
</body>
</html>
